- if @main_category.present?
	%ul.nav.span4.main_list_category
		- @main_category.children.each do |category|
			- if category.posts.present?
				%li.span4
					.well
						%h3= category.content.name
						%ul
							- category.posts.published.limit(5).each do |post|
								%li= link_to post.content.name, post
					= link_to category, class: 'btn btn-link' do
						= glyph('map-marker')
						Все встатьи

.row
	.span6.main_post
		.well= raw @main_post.full
	.span6.news
		- if @news.present?
			.well
				%h3= @news.content.name
				%ul
					- @news.posts.each do |post|
						%li
							= link_to image_tag(post.content.image_url(:thumb), class: 'img-polaroid'), post, class: 'pull-left' if post.content.image?
							= link_to post.content.name, post
							= raw post.intro
