.control-group
	= f.label :first_name, 'Имя', {class: 'control-label'}
	.controls= f.text_field :first_name, placeholder: 'Имя пользователя' 
.control-group
	= f.label :last_name, 'Фамилия', {class: 'control-label'}
	.controls= f.text_field :last_name, placeholder: 'Фамилия пользователя' 
.control-group
	= f.label :email, 'Email', {class: 'control-label'}
	.controls= f.text_field :email, placeholder: 'Email пользователя'

- if can? :role_edit, current_user
	.control-group
		= f.label :role, 'Роль пользователя', {class: 'control-label'}
		.controls
			= f.select :role, options_for_select([['Админ', 'admin'], ['Пользователь', 'user'], ['Контактное лицо', 'contact']], @user.role)

- if @user.new_record?
	.control-group
		= f.label :password, 'Пароль', {class: 'control-label'}
		.controls
			= f.password_field :password
	.control-group
		= f.label :password_confirmation, 'Подтверждение пароля', {class: 'control-label'}
		.controls= f.password_field :password_confirmation
