!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Xayot"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", media: "all"

  %body#main_application
    .container
      .row
        .span5
          = link_to root_path do
            = image_tag 'logo.png'
            %br
            %span Хаёт (в переводе с узб. – «Жизнь»)
        .span6
          %ul.nav.nav-pills.pull-right
            %li.active= link_to 'О Хаетхон', '#'
            %li= link_to 'Мероприятия', '#'
            %li= link_to 'Контакты', '#'

      .row
        .span12
          = bootstrap_flash
          = yield
    
      %footer
        %p &copy; Company 2013
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
